/* Styles globaux */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Styles de la barre de navigation */

  .containers {
    background-color: #99D19C; /* Couleur de fond */
  }
  
  .navbar {
    display: flex;
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: center; /* Centrer verticalement les éléments */
    background-color: #99D19C; /* Couleur de fond */
    padding: 20px; /* Espacement intérieur */
  }
  
  .navbar ul {
    display: flex; /* Aligner les éléments de la liste horizontalement */
    list-style-type: none; /* Enlever les puces de la liste */
    padding: 0; /* Enlever les marges intérieures de la liste */
    margin: 0; /* Enlever les marges extérieures de la liste */
  }
  
  .navbar ul li {
    margin: 0 15px; /* Espacement entre les liens */
  }
  
  .navbar ul li a {
    text-decoration: none; /* Enlever le soulignement des liens */
    color: white; /* Couleur du texte */
    font-size: 16px; /* Taille du texte */
  }
  
  .navbar ul li a:hover {
    text-decoration: underline; /* Soulignement au survol */
  }
  